PG_USER=postgres
PG_HOST=localhost
PG_DATABASE=ciphersqlstudio
PG_PASSWORD=root
PG_PORT=5432

MONGO_URI="mongodb://localhost:27017/ciphersqlstudio"
PORT=3000

GEMINI_API_KEY=AIzaSyCmETyHwMJ8eQ7Dpd81_CzPpdViLq0Lx60